
@media screen and (min-width:1150px) {
	#header .main_menu ul li a {
		font-size: 14px;
	}

	#header .logo {
		width: 110px;
		margin-top: -12px;
		padding-top: 78px;
		background: url(../img/logo_b.png) no-repeat center center;
	}
}
@media screen and (min-width:2000px){
	.main-banner .mb__text-block:after{
		width: 885px;
		height: 535px;
	}
}
@media screen and (max-width:1550px) {
	.interactive {
		background-position: 50% center;
	}
	.main-banner .mb__text-block:after{
		margin-left: 0;
		width: 33vw;
		height: 20vw;
		top: 50%;
		margin-top: -10vw;
	}
}

@media screen and (max-width:1400px) {
	.mbdg-info{
		padding-top: 52px;
	}
	.main_banner .block .ah3 {
		font-size: 33px;
		line-height: 36px;
	}

	.main_banner .block .ah2 {
		font-size: 38px;
		line-height: 41px;
	}

	.main_banner {
		padding-top: 100px;
	}

	.main_banner .block .ah1 {
		font-size: 70px;
		line-height: 70px;
	}

	.main_banner .block:before {
		top: -162px;
		left: 0;
		width: 500px;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
	}
	.main-banner .mb__text-block{
		padding-right: 45px;
	}
}

@media screen and (max-width:1250px) {
	body {
		font-size: 19px;
		line-height: 23px;
	}

	.tarif_block .item {
		max-width: 1000px;
		margin: 0 auto;
	}

	.equipment_block b {
		font-size: 24px;
		line-height: 25px;
	}
}

@media screen and (max-width:1150px) {
	.main_banner {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.main_banner .block:before {
		top: -10px;
		height: 571px;
	}

	.advantages .row .block {
		height: 380px;
	}

	.advantages {
		padding-bottom: 40px;
	}

	#header .right_block a {
		font-size: 28px;
	}

	.tarif_block .shadow ul {
		margin-right: 20px;
		margin-left: 20px;
	}

	.main-banner{
		padding-top: 70px;
		padding-bottom: 70px;
	}

	.main-banner .mb__only-sherbinka{
		font-size: 25px;
		letter-spacing: 0;
	}

	.main-banner h3{
		font-size: 66px;
		line-height: 70px;
	}
	
	.main-banner .mb__desc{
		font-size: 25px;
	}

	.main-banner .mb__plus{
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.main-banner .mb__plus li{
		font-size: 20px;
		line-height: 40px;
	}

	.main-banner .btn{
		font-size: 20px;
	}

}
@media screen and (max-width:800px){
	.main-banner .mb__text-block{
		position: relative;
		z-index: 1;
		max-width: none;
		padding: 0;
	}
	.main-banner h3{
		font-size: 45px;
		line-height: 50px;
	}
	.main-banner h3 span{
		font-size: 35px;
		line-height: 40px;
		display: block;
	}
	.main-banner .mb__text-block:after{
		position: relative;
		margin: 0 auto;
		margin-top: 20px;
		width: 50vw;
		height: 30vw;
	}
	.main-banner .mb__only-sherbinka{
		margin-right: 0;
		margin-left: 0;
		float: none;
	}
	.main-banner .btn{
		margin: 0 auto;
		width: auto;
	}
}

@media screen and (max-width:460px){
	.main-banner{
		padding: 40px 0px;
	}
	.main-banner .mb__only-sherbinka{
		max-width: none;
		font-size: 15px;
		line-height: 35px;
		width: 100%
	}
	.main-banner h3{
		margin-left: 40px;
		margin-right: 40px;
		font-size: 30px;
		line-height: 35px;
	}
	.main-banner h3 span{
		font-size: 25px;
		line-height: 30px;
	}
	.main-banner .mb__desc{
		font-size: 20px;
		line-height: 25px;
		margin-left: 40px;
	}
	.main-banner .mb__plus{
		margin-left: 40px;
		margin-right: 40px;
	}
	.main-banner .mb__plus li{
		font-size: 14px;
		line-height: 19px;
		font-weight: 400;
    	font-family: 'Gilroy';
	}
	.main-banner .mb__plus li:before{
		margin-right: 10px;
		width: 6px;
		height: 6px;
		border-width: 2px;
	}
	.main-banner .btn{
		height: 40px;
	}
	.traif-wrap{
		margin-top:20px;
	}
}

@media screen and (max-width:999px) {
	.form1_block .modal_call {
		width: 200px;
	}

	.form1_block .row .fleft,
	.form1_block .row .fright {
		float: none;
		width: auto;
	}

	.form1_block {
		width: 400px;
	}

	.tarif_block:before {
		display: none;
	}

	.tarif_text {
		font-size: 16px;
	}

	.tarif_date {
		width: 250px;
		height: 60px;
		margin-top: -55px;
		font-size: 20px;
		line-height: 60px;
	}

	.questions_block .block {
		margin-left: 0;
	}

	.questions_block .block p {
		font-size: 15px;
		line-height: 18px;
	}

	.questions_block .block .ah2 {
		font-size: 18px;
		line-height: 21px;
	}

	.equipment_block .block .right_block b {
		font-size: 16px;
		line-height: 19px;
	}

	.equipment_block .ah1 {
		margin-bottom: 30px;
		font-size: 30px;
		line-height: 33px;
	}

	.equipment_block .block .left_block {
		width: 50%;
	}

	.equipment_block .block .hide {
		font-size: 16px;
	}

	.equipment_block .block .tit span,
	.equipment_block .block .left_block .more_button {
		font-size: 14px;
	}

	.tarif_block .item2 .block,
	.tarif_block .item1 .shadow {
		width: auto;
	}

	.tarif_block .item1 .shadow {
		display: block;
	}

	.free_form p {
		font-size: 18px;
		line-height: 21px;
	}

	.free_form .ah1 {
		font-size: 30px;
		line-height: 33px;
	}

	.free_form {
		padding-top: 50px;
		padding-bottom: 70px;
	}

	.interactive:before {
		height: 30px;
	}

	.example_block .ah1 {
		font-size: 30px;
		line-height: 33px;
	}

	.interactive {
		padding-top: 40px;
		padding-bottom: 20px;
	}

	.interactive .inner:before {
		left: 450px;
	}

	.interactive li {
		max-width: 450px;
		font-size: 16px;
		line-height: 19px;
	}

	.interactive li .ah2 {
		font-size: 18px;
		line-height: 21px;
	}

	#main {
		margin-top: 60px;
	}

	.advantages .row .block {
		height: 340px;
		font-size: 16px;
		line-height: 19px;
	}

	.advantages .row .block .ah2 {
		height: auto;
		min-height: 21px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 21px;
	}

	.advantages {
		padding-bottom: 30px;
	}

	.form_block .inputbox {
		font-size: 18px;
		line-height: 21px;
	}

	.form_block .ah2 {
		margin-bottom: 30px;
		font-size: 20px;
		line-height: 23px;
	}

	.tarif_block .item .shadow {
		height: auto;
		min-height: 435px;
		padding-bottom: 100px;
	}

	.tarif_block .shadow .button {
		bottom: 25px;
		left: 11%;
		width: 78%;
		font-size: 14px;
		line-height: 43px;
	}

	.tarif_block .shadow .more_link {
		bottom: 81px;
		font-size: 16px;
	}

	.tarif_block .shadow ul li {
		padding-left: 40px;
		font-size: 14px;
		line-height: 18px;
	}

	.tarif_block .shadow ul li span {
		width: 40px;
	}

	.tarif_block .shadow ul li span img {
		height: 15px;
	}

	.tarif_block .shadow ul li+li.no_icon {
		margin-top: 12px;
	}

	.tarif_block {
		padding-top: 30px;
		padding-bottom: 30px;
		background-position: center 150px;
		-webkit-background-size: auto 395px;
		-moz-background-size: auto 395px;
		background-size: auto 395px;
	}

	.tarif_block .ah2 {
		margin-bottom: 15px;
		font-size: 20px;
		line-height: 23px;
	}

	.tarif_block {
		background: transparent;
	}

	.tarif_block .block {
		width: auto;
		max-width: 285px;
		margin-right: auto;
		margin-bottom: 30px;
		margin-left: auto;
	}

	.tarif_block .tb,
	.tarif_block .tbc {
		display: block;
	}

	.tarif_block:before {
		height: 920px;
	}

	.table_block .block table tr:nth-child(2) th {
		padding-right: 5px;
		padding-left: 5px;
		white-space: nowrap;
		font-size: 18px;
	}

	.table_block .block table td,
	.table_block .block table th {
		font-size: 20px;
	}

	.table_block .block table tr td:first-child,
	.table_block .block table tr:first-child td:first-child {
		font-size: 20px;
	}

	.table_block .block table {
		margin-bottom: 20px;
		line-height: 25px;
	}

	.table_block {
		padding-bottom: 40px;
	}

	.table_block .block .ah2 {
		font-size: 20px;
		line-height: 23px;
	}

	.table_block .ah1,
	.tarif_block .ah1,
	.advantages .ah1,
	.form_block .ah1,
	.interactive .ah1,
	.questions_block .ah1,
	#special .ah1 {
		margin-bottom: 30px;
		font-size: 30px;
		line-height: 33px;
	}

	#special p {
		font-size: 16px;
		line-height: 19px;
	}

	.info_block {
		padding-bottom: 20px;
	}

	.main_banner {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.main_banner .block:before {
		top: auto;
		bottom: -126px;
		width: 435px;
		height: 450px;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
	}

	.main_banner .block .text_block img {
		margin-left: 20px;
	}

	.main_banner .block .text_block .ah4 {
		margin-bottom: 0;
		font-size: 30px;
		line-height: 33px;
	}

	.main_banner .block .text_block .color {
		padding-left: 20px;
		font-size: 25px;
		line-height: 28px;
	}

	.main_banner .block .ah0 {
		margin-bottom: 50px;
		margin-left: 0;
		font-size: 100px;
		line-height: 110px;
	}

	.main_banner:before {
		display: none;
	}

	.main_banner .block .ah5 {
		font-size: 20px;
		line-height: 23px;
	}

	.main_banner .block .ah3 {
		font-size: 26px;
		line-height: 29px;
	}

	.main_banner .block .ah2 {
		font-size: 30px;
		line-height: 33px;
	}

	.main_banner .block .ah1 {
		font-size: 50px;
		line-height: 50px;
	}

	.main_banner .block {
		float: none;
		width: auto;
	}

	.main_banner .block .stiker {
		left: 350px;
	}

	.btn11 {
		position: absolute;
		z-index: 301;
		width: 30px;
		height: 53px;
		margin-top: 10px;
		-webkit-transition-duration: 0.4s;
		-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
	}

	.btn11 .icon-left {
		position: absolute;
		top: 25px;
		width: 15px;
		height: 4px;
		-webkit-transition-duration: 0.4s;
		-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
		background-color: #d5095b;
	}

	.btn11 .icon-left:before {
		position: absolute;
		top: -10px;
		width: 15px;
		height: 4px;
		content: "";
		-webkit-transition-duration: 0.4s;
		-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
		background-color: #d5095b;
	}

	.btn11 .icon-left:after {
		position: absolute;
		top: 10px;
		width: 15px;
		height: 4px;
		content: "";
		-webkit-transition-duration: 0.4s;
		-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
		background-color: #d5095b;
	}

	.btn11 .icon-right {
		position: absolute;
		top: 25px;
		left: 15px;
		width: 15px;
		height: 4px;
		-webkit-transition-duration: 0.4s;
		-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
		background-color: #d5095b;
	}

	.btn11 .icon-right:before {
		position: absolute;
		top: -10px;
		width: 15px;
		height: 4px;
		content: "";
		-webkit-transition-duration: 0.4s;
		-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
		background-color: #d5095b;
	}

	.btn11 .icon-right:after {
		position: absolute;
		top: 10px;
		width: 15px;
		height: 4px;
		content: "";
		-webkit-transition-duration: 0.4s;
		-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
		background-color: #d5095b;
	}

	.btn11.open .icon-left {
		-webkit-transition-duration: 0.4s;
		-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
		background: transparent;
	}

	.btn11.open .icon-left:before {
		-webkit-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
		-moz-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
		-ms-transform: rotate(45deg) scaleX(1.4) translate(2px, 2px);
		-o-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
		transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
	}

	.btn11.open .icon-left:after {
		-webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
		-moz-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
		-ms-transform: rotate(-45deg) scaleX(1.4) translate(2px, -2px);
		-o-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
		transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
	}

	.btn11.open .icon-right {
		-webkit-transition-duration: 0.4s;
		-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
		background: transparent;
	}

	.btn11.open .icon-right:before {
		-webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
		-moz-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
		-ms-transform: rotate(-45deg) scaleX(1.4) translate(-2px, 2px);
		-o-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
		transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
	}

	.btn11.open .icon-right:after {
		-webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
		-moz-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
		-ms-transform: rotate(45deg) scaleX(1.4) translate(-2px, -2px);
		-o-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
		transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
	}

	#header .main_menu ul li a {
		font-size: 16px;
	}

	#subheader {
		height: 46px;
	}

	#header.scroll {
		height: 46px;
		padding-top: 10px;
	}

	#header.scroll .btn11 {
		margin-top: -13px;
	}

	#header.scroll .right_block {
		padding-top: 2px;
	}

	#header.scroll .logo {
		padding-top: 30px;
		background-position: top center;
		-webkit-background-size: 70% auto;
		-moz-background-size: 70% auto;
		background-size: 70% auto;
	}

	#header .right_block {
		padding-top: 27px;
	}

	#header {
		height: 106px;
		padding-top: 20px;
	}

	#header .right_block a {
		font-size: 20px;
		line-height: 23px;
	}

	#header .main_menu ul li a:after,
	#header .right_block a.email,
	#header .right_block .telphone:before {
		display: none;
	}

	#header .main_menu ul li a {
		padding-bottom: 0;
	}

	#header.scroll .main_menu {
		margin-top: 36px;
		padding-top: 10px;
		text-align: center;
	}

	#header .main_menu {
		position: absolute;
		z-index: 1;
		visibility: hidden;
		width: auto;
		margin-top: 60px;
		padding: 10px;
		padding-top: 0;
		-webkit-transition: .3s opacity, .4s margin-top;
		-o-transition: .3s opacity, .4s margin-top;
		-moz-transition: .3s opacity, .4s margin-top;
		transition: .3s opacity, .4s margin-top;
		opacity: 0;
		border: 1px solid #1d201f;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background: #fff;
	}

	#header .main_menu.open {
		visibility: visible;
		opacity: 1;
	}

	#header .main_menu ul li {
		display: block;
		margin: 0;
		padding: 5px;
	}

	#header .logo {
		position: absolute;
		left: 50%;
		float: none;
		margin-left: -42px;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
	}

	#footer {
		font-size: 16px;
		line-height: 19px;
	}

	body {
		font-size: 16px;
		line-height: 19px;
	}

	.main_banner .button {
		margin-top: 40px;
	}

	.main_banner .block .ne-plati-block {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-right: 0;
	}

	.connect {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.connect .item {
		width: 45%;
	}

	.tarif_block .item .tb {
		display: block;
	}

	.tarif_block .shadow ul {
		margin-right: 20px;
		margin-left: 20px;
	}

	.tarif_block .item2 .shadow {
		min-height: 320px;
	}

	.main_banner .block .akcia_text {
		font-size: 30px;
		line-height: 37px;
	}

	.tarif_block .shadow .ah3 {
		margin-bottom: 18px;
		font-size: 14px;
	}

	.tarif_block .shadow .ah3>div {
		height: 96px;
		padding-top: 17px;
	}

	.tarif_block .shadow .price {
		top: 47px;
		font-size: 22px;
	}

	.tarif_block .shadow .price b {
		font-size: 34px;
	}
}

@media screen and (max-width:970px) {}

@media screen and (max-width:850px) {

	.main_banner .block,
	.tarif_text {
		text-align: center;
	}

	.equipment_block .block .image_block {
		float: none;
	}

	.equipment_block .block .right_block {
		max-width: 200px;
		margin-top: 5px;
		padding-top: 0
	}

	.equipment_block .block .left_block {
		float: none;
		width: auto;
		padding-right: 0;
	}

	.main_banner .info span {
		font-size: 17px;
	}

	.main_banner .info {
		text-align: center;
		font-size: 20px;
		line-height: 23px;
	}

	.main_banner .block .text_block img {
		margin-left: 0;
	}

	.main_banner .block .text_block .color {
		padding-left: 0;
	}

	.main_banner .block .text_block {
		padding-left: 0;
		text-align: center;
	}

	.main_banner .block:before {
		bottom: -119px;
		width: 100%;
		height: 400px;
		margin-left: 0;
		background-position: center bottom;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
	}

	.main_banner .block {
		padding-top: 0;
		padding-bottom: 443px;
	}

	.main_banner .block:before {
		display: none;
		/*	bottom: auto;
		top: 0px;*/
	}

	.main_banner .block:after {
		position: absolute;
		bottom: -50px;
		width: 784px;
		max-width: 100%;
		height: 768px;
		margin: 0 auto;
		content: '';
		background: url(../images/new/dog.png) no-repeat;
		background-position: bottom;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
	}

	.main_banner .right-block {
		width: 100%;
	}

	.main_banner .block .stiker b {
		font-size: 50px;
		line-height: 60px;
	}

	.main_banner .block .stiker {
		right: 0;
		left: auto;
		width: 205px;
		height: 184px;
		margin-right: -10px;
		margin-bottom: -1px;
		padding-top: 75px;
		padding-right: 40px;
		padding-left: 15px;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
		font-size: 14px;
		line-height: 17px;
	}

	.main_banner .button {
		margin: 57px auto 26px;
	}

	.advantages .row .block {
		width: 50%;
		height: 250px;
	}

	.info_block .block {
		width: 33.333333%;
	}

	.info_block .block img {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.main_banner .right-block {
		position: initial;
	}

	.main_banner .block .ne-plati-block {
		position: absolute;
		top: 120px;
		right: 10px;
		margin: 0;
	}

	.main_banner .block .ne-plati {
		width: 185px;
		height: 105px;
		font-size: 18px;
		line-height: 23.67px;
	}

	.main_banner .block .mobile-use {
		display: block;
		margin-top: 15px;
		color: #fff;
		font-weight: 700;
		font-size: 25px;
		line-height: 30px;
	}

	.main_banner .block .ah1 br {
		display: none;
	}

	.main_banner .button {
		margin: 20px auto 10px;
	}

	.main_banner {
		padding-top: 10px;
	}

	.form_block .inner {
		padding-top: 30px;
		padding-right: 30px;
		padding-bottom: 30px;
		padding-left: 30px;
	}

}


@media screen and (max-width:700px) {}

@media screen and (max-width:650px) {
	.main_banner .block .ne-plati {
		width: 145px;
		height: 80px;
		font-size: 15px;
		line-height: 20.67px;
	}

	.form1_block .price {
		margin-top: 0;
	}

	.form1_block .modal_call {
		float: none;
		width: auto;
	}

	.form1_block {
		width: 280px;
	}

	.main_banner .block img {
		max-width: 300px;
		margin-top: 10px;
	}

	.equipment_block .block .left_block .more_button:after {
		width: 10px;
		height: 5px;
		margin-left: 5px;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
	}

	.equipment_block .block {
		padding: 20px;
	}

	.equipment_block .block .hide {
		font-size: 14px;
		line-height: 17px;
	}

	.equipment_block .block .tit span,
	.equipment_block .block .left_block .more_button {
		font-size: 12px;
	}

	.free_form form .inputbox {
		font-size: 16px;
		line-height: 19px;
	}

	.tarif_block .dt {
		margin-bottom: 30px;
	}

	.tarif_block .dt li {
		width: 50%;
		font-size: 18px;
		line-height: 45px;
	}

	.example_block,
	.form_block,
	.questions_block {
		margin-top: 0;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.example_block .ah1 {
		width: 94%;
		margin-right: auto;
		margin-bottom: 20px;
		margin-left: auto;
		font-size: 26px;
		line-height: 29px;
	}

	.example_block .inner {
		padding-right: 0;
		padding-left: 0;
	}

	.example_block .row .block {
		float: none;
		width: auto;
		padding-right: 0;
		padding-left: 0;
	}

	.example_block .row {
		margin-right: auto;
		margin-left: auto;
	}

	.example_block .row .block .item1 {
		margin-bottom: 0;
	}

	.example_block .row .block .item1 {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.interactive:before {
		height: 20px;
	}

	.interactive li .ah2,
	.interactive li:nth-child(4) .ah2 {
		margin-bottom: 0;
		padding-top: 20px;
	}

	.interactive li {
		margin-bottom: 15px;
	}

	.interactive li .image_block {
		width: 64px;
		margin-right: 20px;
	}

	.interactive li .image_block img {
		max-width: 100%;
		max-height: 64px;
	}

	.interactive li p {
		/*display: none;*/
	}

	.interactive .inner:before {
		display: none;
	}

	.interactive {
		position: relative;
		padding-bottom: 30px;
		background-image: none;
	}

	.interactive .ah1::after {
		display: block;
		height: 133px;
		margin-top: 30px;
		content: '';
		background: url(../images/dog_dog.png) no-repeat center center;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
	}

	#main {
		margin-top: 30px;
	}

	.form0_block button {
		height: 50px;
		font-size: 18px;
		line-height: 18px;
	}

	.form0_block .inputbox {
		padding: 10px 20px;
	}

	.form0_block .ah1 {
		font-size: 20px;
		line-height: 23px;
	}

	.form0_block {
		width: 280px;
	}

	.arcticmodal-container_i2 {
		padding-right: 0;
		padding-left: 0;
	}

	.table_block .block table tr:nth-child(2) th {
		font-size: 14px;
	}

	.table_block .block table td,
	.table_block .block table th {
		font-size: 17px;
	}

	.table_block .block table tr td:first-child,
	.table_block .block table tr:first-child td:first-child {
		font-size: 17px;
	}

	.table_block .block table {
		line-height: 20px;
	}

	.table_block .block .ah2 {
		font-size: 16px;
		line-height: 19px;
	}

	#footer {
		font-size: 14px;
		line-height: 17px;
	}

	.form_block button {
		height: 50px;
		font-size: 20px;
		line-height: 20px;
	}

	.form_block .inputbox,
	.form0_block .inputbox {
		font-size: 16px;
		line-height: 19px;
	}

	.advantages .row .block .image_block img {
		max-width: 100%
	}

	.advantages .row .block .image_block {
		display: block;
		width: 100%;
		height: auto;
	}

	.advantages .row .block .tb {
		display: block;
		float: left;
		width: 64px;
		margin-right: 20px;
		padding-top: 5px;
	}

	.advantages .row .block .ah2 {
		position: relative;
		overflow: hidden;
		margin-top: 0;
		text-align: left;
	}

	.advantages .row .block p {
		position: relative;
		overflow: hidden;
		text-align: left;
	}

	.advantages .row .block:nth-child(2) p {
		max-width: none;
	}

	.advantages .row .block:nth-child(3) p {
		max-width: none;
	}

	.advantages .row .block:nth-child(4) p {
		max-width: none;
	}

	.advantages .row .block:nth-child(5) p {
		max-width: none;
	}

	.advantages .row .block:nth-child(6) p {
		max-width: none;
	}

	.advantages .row .block {
		clear: both;
		width: 100%;
		height: auto;
		margin-bottom: 40px;
		padding: 0;
	}

	.main_banner .block .yellow {
		max-width: 120px;
		padding-top: 6px;
		font-size: 17px;
		line-height: 22px;
	}

	.main_banner .button {
		max-width: 180px;
		height: 50px;
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 50px;
	}

	.main_banner .block .ah2 {
		margin-bottom: 25px;
		font-size: 40px;
		line-height: 43px;
	}

	.main_banner .block .ah3 {
		padding-top: 15px;
		font-size: 28px;
		line-height: 31px;
	}

	.main_banner .tbb {
		max-width: 236px;
	}

	.main_banner .block .ah1 {
		margin-bottom: 20px;
		font-size: 30px;
		line-height: 33px;
	}

	.main_banner .block .ah2 {
		margin-bottom: 0;
		font-size: 22px;
		line-height: 28px;
	}

	.main_banner .block .ah3 {
		margin-bottom: 50px;
		padding-top: 0;
		font-size: 18px;
		line-height: 21px;
	}

	.main_banner .info {
		font-size: 17px;
		line-height: 20px;
	}

	.main_banner .info span {
		font-size: 14px;
	}

	.main_banner:before {
		height: 25px;
	}

	.main_banner .ah5 {
		font-size: 18px;
		line-height: 21px;
	}

	.main_banner .ah5 b {
		display: block;
	}

	.main_banner .block .ah3 b:nth-child(2) {
		margin-left: 3px;
	}

	.main_banner .block .ah3 b {
		font-size: 30px;
	}

	.main_banner .block .ah1 span {
		display: block;
		font-size: 40px;
	}

	.main_banner .block {
		max-width: none;
		padding-right: 0;
	}

	.main_banner .block .ah0 {
		margin-bottom: 20px;
		padding-top: 0;
		font-size: 80px;
		line-height: 90px;
	}

	.main_banner .block .text_block {
		padding-left: 0;
	}

	.main_banner .block .text_block .ah4 {
		font-size: 25px;
		line-height: 28px;
	}

	.main_banner .block .text_block .color {
		font-size: 20px;
		line-height: 25px;
	}

	.main_banner {
		margin-bottom: 5px;
	}

	.info_block .block {
		width: 50%;
	}

	#header .right_block {
		padding-top: 30px;
	}

	#header .right_block a {
		font-size: 18px;
	}

	#header {
		height: 78px;
		padding-top: 0;
	}

	#header .inner {
		position: relative;
	}

	#header .logo {
		left: 50px;
		width: 80px;
		margin-top: 8px;
		margin-left: 0;
	}

	#header.scroll .logo {
		margin-top: 3px;
		padding-top: 25px;
		background-position: left top;
	}

	body {
		font-size: 14px;
		line-height: 17px;
	}

	.on_mobile {
		display: block;
	}

	.no_on_mobile {
		display: none !important;
	}

	.inner {
		width: 94%;
	}

	.connect {}

	.connect .item {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: horizontal !important;
		-webkit-box-direction: normal !important;
		-webkit-flex-direction: row !important;
		-moz-box-orient: horizontal !important;
		-moz-box-direction: normal !important;
		-ms-flex-direction: row !important;
		flex-direction: row !important;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		width: 100%;
	}

	.connect .item+.item {
		margin-top: 30px;
	}

	.connect .item .img-block {
		width: 64px;
		min-width: 64px;
		margin-top: 0px !important;
		margin-right: 20px;
		margin-bottom: 0px !important;
	}

	.connect .item .text-block .number {
		display: none;
	}

	.connect .item .text-block {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-moz-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}

	.connect .item .text-block .text {
		margin-left: 0;
		padding: 0;
		text-align: left;
	}

	.main_banner .block .mobile-use {
		font-size: 20px;
		line-height: 25px;
	}

	.questions_block .block .ah2::after {
		width: 15px;
	}
}

@media screen and (max-width:600px) {
	.main_banner .block {
		/*	padding-top: 300px;*/
	}

	.main_banner .block:before {
		height: 300px;
	}

	.main_banner .block .ne-plati-block {
		top: 100px;
	}
}

@media screen and (max-width:550px) {}

@media screen and (max-width:500px) {
	.main_banner {
		overflow: hidden;
	}

	.main_banner .block .ne-plati-block {
		right: -30px;
	}


}

@media screen and (max-width:450px) {}

@media screen and (max-width:440px) {
	.equipment_block .block .image_block {
		margin-right: auto;
		margin-left: auto;
	}

	.main_banner .block .yellow {
		max-width: none;
	}

	.main_banner .button {
		float: none;
	}

	.tarif_block .shadow ul {
		margin-right: 20px;
		margin-left: 20px;
	}

	.connect .item .text-block .text {
		font-size: 15px;
		line-height: 23px;
	}
}

@media screen and (max-width:400px) {}

@media screen and (max-width:310px) {
	.tarif_block .shadow ul {
		margin-right: 10px;
		margin-left: 10px;
	}
}

@media screen and (max-width: 1400px) {
	.main_banner .block:before {
		top: -229px;
	}
}

@media screen and (max-width: 1150px) {
	.main_banner .block:before {
		top: -38px;
	}
}

@media screen and (max-width: 1040px) {
	.main_banner .block:before {
		top: -4px;
	}
}

@media screen and (max-width: 999px) {
	.main_banner {
		padding-top: 99px;
		padding-bottom: 50px;
	}

	.main_banner .block:before {
		top: 74px;
	}
}

@media screen and (max-width: 850px) {

	/*	.main_banner .block {
		padding-top: 473px;
	}*/
	.main_banner .right-block .wrap {
		margin: 0 auto;
	}
}

@media screen and (max-width: 715px) {
	.main_banner .top-text {
		font-size: 43px;
		line-height: 57.29px;
	}

	.main_banner .text_block .top {
		font-size: 43px;
		line-height: 58.57px;
	}

	.main_banner .text_block .bottom {
		font-size: 16px;
	}
}

@media screen and (max-width: 600px) {
	.main_banner .block {
		padding-bottom: 326px;
	}
}

@media screen and (max-width: 400px) {
	.main_banner .new_akcia_text {
		font-family: 'Conv_Gilroy';
		font-weight: 900;
		font-size: 28px;
	}
}

@media screen and (max-width: 370px) {
	.main_banner .block {
		padding-bottom: 244px;
	}

	.main_banner .block:before {}
}

@media screen and (max-width: 350px) {
	.main_banner .top-text {
		font-size: 37px;
		line-height: 61.29px;
	}

	.main_banner .price_akcia {
		font-size: 18px;
	}

	.main_banner .price_akcia span {
		font-size: 63px;
	}

	.main_banner .new_akcia_text .smallText {
		font-size: 13px;
		line-height: 23.45px;
	}
}

@media screen and (max-width: 1250px) {
	.tarif .main .item .text {
		line-height: 26px;
	}
}

@media screen and (max-width: 1500px) {
	.traif-wrap .container {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		max-width: -webkit-calc(100% - 100px);
		max-width: -moz-calc(100% - 100px);
		max-width: calc(100% - 100px);
	}

	.tarif {
		/*	margin-left: 15px;
		margin-right: 15px;*/
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 1250px) {


	.equipment_block .inner {
		max-width: 95%;
	}

	.equipment_block .inner .block-container {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.equipment_block .block {
		width: 290px;
		min-width: 290px;
		margin-right: 15px;
		margin-bottom: 0;
		margin-left: 15px;
	}
}

@media screen and (max-width: 599px) {
	.traif-wrap .container {
		max-width: -webkit-calc(100% - 30px);
		max-width: -moz-calc(100% - 30px);
		max-width: calc(100% - 30px);
	}

	.main_banner {
		background: -webkit-linear-gradient(63deg, rgba(1, 144, 184, 1) 0%, rgba(1, 130, 170, 1) 37%, rgba(0, 107, 139, 1) 68%, rgba(10, 90, 117, 1) 94%, rgba(7, 95, 117, 1) 100%);
		background: -moz-linear-gradient(63deg, rgba(1, 144, 184, 1) 0%, rgba(1, 130, 170, 1) 37%, rgba(0, 107, 139, 1) 68%, rgba(10, 90, 117, 1) 94%, rgba(7, 95, 117, 1) 100%);
		background: -o-linear-gradient(63deg, rgba(1, 144, 184, 1) 0%, rgba(1, 130, 170, 1) 37%, rgba(0, 107, 139, 1) 68%, rgba(10, 90, 117, 1) 94%, rgba(7, 95, 117, 1) 100%);
		background: linear-gradient(27deg, rgba(1, 144, 184, 1) 0%, rgba(1, 130, 170, 1) 37%, rgba(0, 107, 139, 1) 68%, rgba(10, 90, 117, 1) 94%, rgba(7, 95, 117, 1) 100%);
	}


}

@media screen and (max-width:556px) {
	.main_banner .top-text {
		font-size: 32px;
		line-height: 35.29px;
	}

	.main_banner .new_akcia_text .akcia_plus {
		margin-right: 10px;
	}
}

@media screen and (max-width:417px) {
	.main_banner .top-text {
		font-size: 27px;
	}

	.main_banner .block {
		padding-bottom: 231px;
	}
}

@media screen and (max-width:354px) {
	.main_banner .top-text {
		font-size: 24px;
	}

	.main_banner .block {
		padding-bottom: 174px;
	}
}

@media screen and (max-width:500px) {
	.equipment_block .block {
		width: 254px;
		min-width: 245px;
		margin-right: 0;
		margin-bottom: 0;
		margin-left: 0;
		padding: 10px;
	}
}

@media screen and (max-width:710px) {
	.form_block .personal {
		letter-spacing: 0;
		font-size: 15px;
		line-height: 16px;
	}

	.form_block .personal_container {
		padding-left: 35px;
	}

	[type=checkbox]:checked+label:before,
	[type=checkbox]:not(:checked)+label:before {
		left: -35px;
		width: 25px;
		height: 25px;
	}

	[type=checkbox]:checked+label:after,
	[type=checkbox]:not(:checked)+label:after {
		top: -7px;
		left: -35px;
		width: 25px;
		height: 25px;
		height: 39px;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
	}

	.main_banner .block .text_block {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.main_banner .text_block .plus {
		padding: 0 19px;
	}

	.main_banner .price_akcia span {
		color: #fcee17;
	}
}



/*Медиа только для верхнего баннера от 12.02.20 нач*/
@media screen and (max-width:1700px) {
	.mbdg-info {
		padding-right: 82px;
		margin-right: 5%;
	}
}

@media screen and (max-width:1555px) {
	.mbdg-dog {
		left: -18.7%;
	}

}

@media screen and (max-width:1350px) {
	.mbdg-dog {
		left: -18.7%;
		width: 78%;
	}

}

@media screen and (min-width:971px) {
	.mbdg-imt-only-mobile-br {
		display: none;

	}

}

@media screen and (max-width:970px) {


	.mbdg-info {
		padding-right: 82px;
		width: -webkit-calc(90% - 82px);
		width: -moz-calc(90% - 82px);
		width: calc(90% - 82px);
		margin-right: auto;
		padding-bottom: 70vw;
	}

	.mbdg-dog {
		bottom: -5px;
		left: 0;
		width: 100%;

	}

	.mbdg-info-main__row .mbdg-row-item {
		margin-bottom: 26px;
	}

	.mbdg-info-main__row {
		max-height: 350px;
	}

	.mbdg-info-top__title {
		font-size: 60px;
		line-height: 1.2;
	}

	.mbdg-big-price {
		width: 150px;
		height: 150px;
		right: -52px;
		bottom: -49px;
	}

	.mbdg-big-price__text-1 {
		font-size: 18px
	}

	.mbdg-big-price__text-2 {
		font-size: 63px;
		line-height: 1.1;
	}

	.mbdg-big-price__text-3 {
		font-size: 21px;
	}
}

@media screen and (max-width:620px) {
	.mbdg-info-main__text {
		font-size: 28px;
		line-height: 1.2;
	}

	.mbdg-info-top__title {
		font-size: 40px;
	}

	.mbdg-info-main__row .mbdg-row-item__top span {
		display: block;
		line-height: 36px;
		height: 36px;
		font-size: 45px;
	}

	.mbdg-info-main__row .mbdg-row-item__top {
		height: 44px;
	}

	.mbdg-info {
		padding-right: 50px;
		width: -webkit-calc(90% - 50px);
		width: -moz-calc(90% - 50px);
		width: calc(90% - 50px);
	}

	.mbdg-info-main {
		-webkit-border-radius: 0px 0px 30px 30px;
		   -moz-border-radius: 0px 0px 30px 30px;
		        border-radius: 0px 0px 30px 30px;
		border: 2px solid #ffffff;
		border-top: 0;
		position: relative;
		padding: 8px 15px 37px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

	.mbdg-info-top__right-top-border {
		height: 38px;
	}

	.mbdg-info-main__btn {
		left: 15px;
		bottom: -28px;
		width: unset;
		padding: 0 20px;
	}

	.mbdg-info-main__row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		   -moz-box-orient: horizontal;
		   -moz-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		max-height: unset;
		margin: 15px -8px 25px;
	}

	.mbdg-info-main__row .mbdg-row-item {
		margin: 0 8px 16px;
		width: -webkit-calc(50% - 16px);
		width: -moz-calc(50% - 16px);
		width: calc(50% - 16px);

	}

	.mbdg-info-main__row .mbdg-row-item:last-child {
		width: 100%;
	}
}

@media screen and (max-width:460px) {
	.mbdg-big-price {
		right: -5px;
		bottom: -85px;
	}

	.mbdg-info-main__btn {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		left: 0;
		bottom: -156px;
		width: 100%;
		padding: 0 20px;
	}

	.mbdg-info {
		padding-bottom: 100vw;
		padding-right: 0;
		width: 95%;
	}

}


@media screen and (max-width:389px) {
	.mbdg-info {
		padding-bottom: 120vw;
	}

	.mbdg-info-main__text {
		font-size: 24px;
	}

	.mbdg-info-top__title {
		font-size: 29px;
	}
	.table_block .ah1, .tarif_block .ah1, .advantages .ah1, .form_block .ah1, .interactive .ah1, .questions_block .ah1, #special .ah1 {
		font-size: 28px;
	}
}

/*Медиа только для верхнего баннера от 12.02.20 кон*/
