@font-face {
  font-family: 'Archive';

font-weight: normal;

font-style: normal;

src: url('Archive.eot');

src: url('Archive.woff2') format('woff2'),
       url('Archive.woff') format('woff'),
       url('Archive.ttf') format('truetype'),
       url('Archive.svg#Archive') format('svg'),
       url('Archive.eot?#iefix') format('embedded-opentype');

}

@font-face {
	font-family: 'Conv_Gilroy';

font-weight: normal;

font-style: normal;

src: url('fonts/Gilroy.eot');

src: local('☺'), url('fonts/Gilroy.woff') format('woff'), url('fonts/Gilroy.ttf') format('truetype'), url('fonts/Gilroy.svg') format('svg');

}

@font-face {
	font-family: 'Conv_Gilroy';

font-weight: 900;

font-style: normal;

src: url('fonts/Gilroy-ExtraBold.eot');

src: url('fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('fonts/Gilroy-ExtraBold.woff') format('woff'),
	url('fonts/Gilroy-ExtraBold.ttf') format('truetype');

}

@font-face {
	font-family: 'Conv_PFSQUARESANSPRO-REGULAR';

font-weight: normal;

font-style: normal;

src: url('fonts/PFSQUARESANSPRO-REGULAR.eot');

src: local('☺'), url('fonts/PFSQUARESANSPRO-REGULAR.woff') format('woff'), url('fonts/PFSQUARESANSPRO-REGULAR.ttf') format('truetype'), url('fonts/PFSQUARESANSPRO-REGULAR.svg') format('svg');

}
@font-face {
	font-family: 'Gilroy';

font-weight: 300;

font-style: normal;

src: url('fonts/Gilroy-Light.woff2') format('woff2'),
        url('fonts/Gilroy-Light.woff') format('woff');

}


@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');